body {
background: url(../images/ON9SOO0.jpg) no-repeat center fixed;
background-size: cover;
margin-left:0;
margin-right: 0;
margin-bottom: 30px;
}



.jumbotron {
	background-color: rgba(238,238,238,0.5);
	width: 100%;
	padding: 50px;
	font-family: 'Dancing Script', cursive;
}
.jumbotron h1 {
	font-size: 100px;
	font-weight: bold;
}

.add-food{
   font-family: 'Dancing Script', cursive;
   font-size: 30px;
   font-weight: bold;
}

.btn {
	background-color: rgba(238,238,238,0.5);
}

.foodgif{
	margin-bottom: 20px;
}